*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
body{
    background: black;
}
.logo{
    display: flex;
    align-items: center    ;
    width: 49vw;
    font-size: 2em;
}

nav{
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    font-size: 1.5em;    
    justify-content: space-evenly;

}

.navegaddor{
    width: 40vw;
    display: flex;
    justify-content: space-evenly;
    margin:2px;
    border: 2px    ;
    
}
#home{
    width: 100vw;
    height:55vh;
    display: flex;
    justify-content: space-evenly;
    background-color: aqua;
    align-items: center
}

#Abuot{
    width: 100vw;
    height:55vh;
    display: flex;  
    justify-content: space-evenly;
    background-color: greenyellow;
    align-items: center
}

#menu{
    width: 100vw;
    height:55vh;
    display: flex;
    justify-content: space-evenly;
    background-color: green;
    align-items: center
}
#services{
    width: 100vw;
    height:55vh;
    display: flex;
    justify-content: space-evenly;
    background-color: wheat;
    align-items: center
}

#contact{
    width: 100vw;
    height:55vh;
    display: flex;
    justify-content: space-evenly;
    background-color: dimgray;
    align-items: center

}
